.headimg{
    max-width: 300px;
    float: left;

}
h1, h2, h3{
    text-align: center;
}
.standimg{
    max-width: 500px;
    float: left;
}
#standimg{
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}
#headandfact{
    overflow: hidden;
    text-align: left;
    margin: 0 auto;
    background-color: white;
}
#headandfact ul{
    padding-top: 20px;
}
#headandfact li{
    margin-top: 20px;
    list-style: none;
}

img{
    border: 1px solid black;
    margin: 25px;
    width: 95%;
}
body {
    margin: 0 auto;
    color: #505050;
    text-align: left;
    padding: 0px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}
b{
    text-transform:uppercase;
    display: block;
    width: 100px;
    float: left;
}
h1{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding: 10px;
    word-spacing: 5px;
}
hr{
    width: 90%;
}
nav{
    padding: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
nav ul{
    clear:left;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
nav ul li {
    float:left;
    list-style:none;
    padding:0;
}
nav ul li a {
    margin: 5px;
    padding: 5px;
    color:#000;
    text-decoration:none;
    line-height:1.3em;

}
nav ul li a:hover {
    background:#369;
    color:#fff;
}
#menuwrapper{
    min-height: 100px;
    width: 100%;
    position: fixed;
    top: 0px;
    margin: 0px;
    padding: 0px;
    background-color: white;
}
#contentwrapper{
    padding: 40px;
    padding-top: 200px;
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}
#contentwrapper2{
    max-width: 1200px;
    margin: 0 auto;
}
#tempDiv{
    margin: 0 auto;
    width: 500px;
    padding: 200px;
}
.galleryimg{
    width: 100%;
    margin: 0 auto;
    padding: 0px;
}
.gallerywrapper{
    max-width: 250px;
    height: 220px;
    margin: 10px;
    float: left;
    display: inline-block;
    overflow: hidden;
    border-bottom: 1px solid gray;
}
.gallerywrapper a{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.gallerywrapper p{
    text-align: center;
    padding: 0;
    margin: 0;
    color: black;
}
div.gallerywrapper:hover{
    background-color: #CCCCCC;
}
.gallerywrapper img{
    border: 0px;
}
th{
    width: 50%;
}
a{
    text-decoration: none;
}
#thirdswrapper{
    overflow: hidden;
}
.third{
    width: 30%;
    min-width: 150px;
    float: left;
    padding: 10px;
}
.twowrapper{
    overflow: hidden;
}
.two1{
    float: left;
    width: 40%;
    min-width: 250px;
}
.two2{
    float: left;
    width: 60%;
    min-width: 250px;
}
#logo{
    display: block;
    border: 0px;
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    margin-right: 10px;
}
rightimg{
    width: 100%;
}
.textbox{
    width: 600px;
    margin: 0 auto;
}